* {
    margin: 0;
    padding: 0;
}

.clearfix,
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

header, footer {
    height: 100px;
    color: #fff;
    background: #000;
    text-align: center;
    line-height: 100px;
}

.item {
    width: 700px;
    margin: 30px auto;
    text-align: center;
}

.demo {
}
.item h4 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.item .demo li {
    display: table;
    float: left;
    border: 1px solid rgb(118, 118, 119);
    box-sizing: border-box;
    list-style: none;
    transition: all .4s ease 0s;
}

.item .demo li:hover {
    background: rgb(69, 136, 222);
    border: 1px solid rgb(69, 136, 222);
}
.item .demo li:hover a {
    color: #fff;
}

.item .demo a {
    display: block;
    width: 150px;
    height: 60px;
    padding: 10px 20px;
    margin: 20px 10px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    line-height: 60px;
}
